
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    font-family: 'Inter', sans-serif;
  }

  /* .header_text{
       background: linear-gradient (to right, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125)) !important;
       -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
  } */
.background{
    background-image: url('../public/assets/images/sl_072622_51930_03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
   
}